# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [43]:
x = set(range(1,11))
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [44]:
x = set(range(1,11))
x.add(11)
x.remove(1)
print(x)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [45]:
st1 = set(range(1,6))
st2 = set(x for x in range(1,11) if x%2==0)
print(st1)
print(st2)
print(st1.union(st2))
print(st1.intersection(st2))
print(st1.difference(st2))
print(st1.symmetric_difference(st2))

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [46]:
st = set(x**2 for x in range(1,11))
print(st)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [47]:
x= set(x for x in range(1,11) if x%2==0)
print(x)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [48]:
x = {1,1,2,2,2,3,3,4,4,4,5,5,6,6,7,7,7}
print(f"Removing duplicates: {set(x)}")

Removing duplicates: {1, 2, 3, 4, 5, 6, 7}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [49]:
st1 = set(range(1,6))
st2 = set(range(1,4))
print(st1.issubset(st2))
print(st1.issuperset(st2))

False
True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [50]:
x = frozenset(range(1,6))
print(x)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [51]:
x = set(range(1,6))
print(f"Before appending: {x}")
lst = list(x)
lst.append(6)
x = set(lst)
print(f"After appending: {x}")

Before appending: {1, 2, 3, 4, 5}
After appending: {1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [1]:
dict = {
    frozenset({1,2}):'a',
    frozenset({3,4}):'b',
    frozenset({5,6}):'c'
    
}
print(dict)

{frozenset({1, 2}): 'a', frozenset({3, 4}): 'b', frozenset({5, 6}): 'c'}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [6]:
x = set(range(1,6))
for i in x:
    print(i)

1
2
3
4
5

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [7]:
x = set(range(1,6))
while x:
    x.pop()
    print(x)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [13]:
st1 = {1,2,3}
st2 = {3,4,5}
st1.symmetric_difference_update(st2)
print(st1)

{1, 2, 4, 5}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [14]:
st1 = {1,2,3}
print(1 in st1)
print(4 in st1)

True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [15]:
x = {
    (1,2),
    (3,4),
    (5,6)
}
print(x)

{(1, 2), (3, 4), (5, 6)}