# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
x = tuple(range(11))
print(x)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [1]:
x = tuple(range(11))
print(f"First Element: {x[1]}")
print(f"Middle Element: {x[len(x)//2]}")
print(f"Last Element: {x[-1]}")

First Element: 1
Middle Element: 5
Last Element: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [3]:
x = tuple(range(11))
print(f"First 3elements: {x[:3]}")
print(f"Last 3 Elements: {x[-3:]}")
print(f"Elements from 2 to 5: {x[2:5]}")

First 3elements: (0, 1, 2)
Last 3 Elements: (8, 9, 10)
Elements from 2 to 5: (2, 3, 4)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [4]:
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print("Matrix:")
for row in matrix:
    print(row)
print(f"Elements at the second row and third column: {matrix[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Elements at the second row and third column: 6

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [5]:
elements = (1,1,2,2,2,3,3,4,4,5,5,6,6)
print(f"count of element: {elements.count(2)}")
print(f"Index of the first occurence of an elements: {elements.index(3)}")

count of element: 3
Index of the first occurence of an elements: 5

## Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [6]:
x = (1,2,3,4,5)
a,b,c,d,e = x
print("Unpacking elements:")
print(a,b,c,d,e)

Unpacking elements:
1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [7]:
lst =[1, 2, 3, 4, 5]
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [11]:
t1 = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(t1)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [14]:
x = tuple(range(1,6))
print(f"First 5positive elements: {x}")
lst = list(x)
lst.append(6)
x = tuple(lst)
print(f"resulting tuple:  {x}")

First 5positive elements: (1, 2, 3, 4, 5)
resulting tuple:  (1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [17]:
str = "Veda"
x = tuple(str)
joined_str = ''.join(x)
print(joined_str)

Veda


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [18]:
dict = {
    (1,2):'a',
    (3,4): 'b',
    (5,6) : 'c'
}
print(dict)

{(1, 2): 'a', (3, 4): 'b', (5, 6): 'c'}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [19]:
nested_tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for i in nested_tpl:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

## Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [20]:
a = (1,2,3,4,1,2,2,3,3,4,4,4,5,5,5)
print(f"Before Duplicates: {a}")
a= set(a)
print(f"After Removing Duplicates: {a}")

Before Duplicates: (1, 2, 3, 4, 1, 2, 2, 3, 3, 4, 4, 4, 5, 5, 5)
After Removing Duplicates: {1, 2, 3, 4, 5}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [22]:
def min_in_tuple(tpl):
    return min(tpl)
def max_in_tuple(tpl):
    return max(tpl)
def sum_in_tuple(tpl):
    return sum(tpl)
sample_tuple = (1,2,3,4,5,6,7)
print(f"Maximum value: {max_in_tuple(sample_tuple)}")
print(f"Minimum value: {min_in_tuple(sample_tuple)}")
print(f"Sum of the values: {sum_in_tuple(sample_tuple)}")

Maximum value: 7
Minimum value: 1
Sum of the values: 28